# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs
root = true

[*]
# Change the line endings to CRLF
end_of_line = crlf
# Set the charset to UTF-8
charset = utf-8
# Trim trailing whitespace
trim_trailing_whitespace = true
# Insert a final newline at the end of the file
insert_final_newline = true
# Use tabs for indentation
indent_style = tab